<%= form_for(kid) do |f| %>

<div>
    <ol>
        <li><%= f.label :f_name, 'First Name:' %></li>
        <%= f.text_field :f_name %><br>

        <li><%= f.label :l_name, 'Last Name:' %></li>
       <%= f.text_field :l_name %><br>

        <li><%= f.label :birth, 'Date of Birth:' %></li>
        <%= f.date_field :birth %><br> 
     </ol>
     <hr>
        <%= f.submit button_name %>
 <% end %>
   
 </div>